* {
    padding: 0;
    margin: 0;
}


/*cabeçalho*/

header {
    background-color: #A3AB78;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    
}

.Logo {
    width: 200px;
    margin-left: 150px;
}

nav a {
    text-decoration: none;
    color: black;
    width: 65px;
}



nav a:hover {
    color: azure;
}

nav > ul {
    padding-right: 300px;
}



nav > ul > li {
    padding: 0 20px;
    display: inline-block;
    align-items: center;
    font-family: 'Beau Rivage', cursive;
    font-size: 20px;
    font-weight: bold;
}

/*main*/

h2{
    padding-top: 2rem;
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    background-color: #e7e6e4;
}


.produtos{
    display: grid;
    background-color: #e7e6e4;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 20px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.img-prod{
    text-align: center;
    
}
img{
    max-width: 100%;
    height: 200px;
    
    border-radius: 0.5rem;
}
.nome-comida{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Beau Rivage', cursive;
    font-size: 2rem;
}

.preço{
    padding: 10px 0;
    font-weight: bold;
}

.comprar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(12, 137, 62);
    border: 2px solid rgb(12, 137, 62);
    border-radius: 0.5rem;
    height: 2rem;
    font-weight: bold;
}


.comprar:hover{
    transition-duration: 200ms;
    background-color:rgb(12, 137, 62);
    color: white;
}

li{
    list-style: none;
}

/*rodapé*/

.alunos {
    background-color: #cfb698;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
}

.alunos p {
    text-align: center;
    margin-bottom: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

@media screen and (max-device-width: 800px){
    *{
        padding: 0;
        margin: 0;
    }
    body{
        max-width: 100%;
            
    }
    header{
        max-width: 100%;
    }
    .Logo{
        display: flex;
        margin: 0;
        max-width: 120px;
        height: 120px;
    }
    nav > ul{
        padding:0;
        display: flex;
        width: 100%;
    }  
    nav > ul > li{
        width: 100%;
        padding-left: 0px;
        font-size: 17px;
    }   
    main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .produtos{
        display: flex;
        flex-direction: column;
    }
}